<section class="section">
    <div class="container">
        <a href="/articles/{{_id}}"></a>
            <h1 class="title">{{article.title}}</h1>
        
        <p>{{stripTags article.content}}</p>
       
    </div>
</section>